/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/color/contrast";
@import "compass/css3";
@import "icons/*.png";
@include all-icons-sprites;

$page-width: 1024px;
$canvas-width: 970px;
$canvas-height: 600px;
$pad: 10px;
$base-font-size       : 17px;
$base-line-height     : 30px;
$color: #333;
$bg-color: #eee;
$popup-bg-color: #fff;
$complementary-color: #f66;

@mixin box{
	@include box-shadow(0 0 5px darken($bg-color,20%));
	@include border-radius();
	border: 1px solid darken($bg-color,10%);
	text-decoration:;
}

// establish your vertical baseline grid.
@include establish-baseline;

* {
  @include box-sizing(border-box);
}

html{
	font-family: Lucida Console, Comic Sans MS, Arial, sans-serif;
}

header{
	clear: both;
	position: relative;

	h1{
		font-family: 'Flavors', cursive;
		@include adjust-font-size-to($base-font-size * 2,$lines:1);
		padding: $pad;
		color: lighten($color,20%);
		@include background-image(linear-gradient(lighten($bg-color,10%),$bg-color,lighten($bg-color,20%)));
	}
	.search{
		position: absolute;
		left: $page-width/4;
		top: $pad;
		label{
			display: none;
		}
		input{
			width: 400px;
		}
	}
}
#usersresult{
	position: absolute;
	@include box;
	width: 400px;
	z-index: 999;
	background-color: $popup-bg-color;
	li{
		overflow: hidden;
		border-bottom:1px solid $bg-color;
		position: relative;
	}

}
#friends{
	li{
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: $page-width/3 -$pad*3;
		@include box;
		&:hover{
			@include box-shadow(0 0 15px $complementary-color);
		}
	}
	.user-pic{
		height: 120px;
	}
}
.add,
.confirm{
	display: block;
	position: absolute;
	bottom: $pad;
	right: $pad;
}
#user{
	position: absolute;
	right: $pad;
	top: $pad;
}
.wrapper{
	margin: 0 auto !important;
	width: $page-width;
}
.user-pic{
	float: left;
	overflow: hidden;
	margin: 2px;
	height: 60px;
	@include border-radius();
	img{
		height: 100%;
	}
}
.user-info{
	float: left;
	padding: 2px $pad;
	max-width: 184px;
}
.content{
	position: relative;
}

.tabs{
	overflow: hidden;
	>li{
		@include border-radius(30px);
		border: 1px solid darken($bg-color,10%);
		float: left;
		padding: 0;
		margin-right: $pad;
		a{
			padding: $pad/2;
		}
		&:hover a.icons-closetab{
			visibility: visible;
		}
	}
	a.active{
		color: $complementary-color;
	}
}
.canvas-content{
	background-color: #fff;
	z-index: 888;
	.main{
		float: left;
		width: $canvas-width;
	}
	.users{
		float: right;
		li{
			position: relative;
		}
		.title {
			display: none;
		}
		img{
			width: 50px;
		}
	}
	.msginput{
		height: $base-line-height;
		width: 100%;
		@include box;
	}
}

[class*="icons-"],
.colorsel{
	@include icons-sprite-dimensions('rect');
	display:inline-block;
}
a.icons-closetab{
	width: 16px;
	height: 16px;
	margin-right: $pad/2;
	visibility: hidden;
}
.toolbar{
	button,
	.button{
		@include border-radius();
		background-color: lighten($bg-color,20%);
		border: 1px solid $bg-color;
		display:inline-block;
		
	}
	.button{
		position: relative;
		z-index: 9999;
		&:hover{
			.color-canvas{
				visibility: visible;
			}
		}		
	}
	.on{
		border: 1px solid darken($bg-color,10%);
		background-color: $bg-color;
	}

}
.main{
	position: relative;
}
.canvas{
	@include box;
}
.color-canvas{
	position: absolute;
	top: 24px;
	left: 0;
	visibility: hidden;
	@include box;
}
.temp-canvas,
.socket-canvas{
	position: absolute;
	top: 1px;
	left: 1px;
}
.temp-canvas{
	z-index: 2;
}
.socket-canvas{
	z-index: 1;
}
.line-width{
	display: inline-block;
	width: 200px;
	margin: 0 12px;
}

.chat-bubble {
	position: absolute;
	top: 0;
	left: -310px;
	background-color:#EDEDED;
	margin: 10px auto;
	padding: 10px;
	width:300px;
	@include box-shadow(0 0 5px darken($bg-color,20%));
	@include border-radius();
	border: 2px solid #666666;
	.arrow-border {
		border-color: transparent transparent transparent #666666;
		border-style: solid;
		border-width: 10px;
		height:0;
		width:0;
		position:absolute;
		top: 10px;
		right: -22px;
	}
	.arrow {
		border-color: transparent transparent transparent #EDEDED;
		border-style: solid;
		border-width: 10px;
		height:0;
		width:0;
		position:absolute;
		top: 10px;
		right: -19px;
	}
}


