header
	border-bottom 2px solid darken($bg-color,30%)
.is-canvas header
	transition: all 0.5s
	position: fixed
	top: -50px
	right: 0
	left: 0
	z-index: 9999
	opacity: 0.8
	background-color: $bg-color
.is-header-closed header
		top: -150px	
header, .main
	position: relative
