.icons-closetab
  font-family: "Pictos Custom", sans-serif
  font-size: 30px
  position: absolute
  top: 10px
  right: 0;
  width: 20px;
  color: #000
  text-decoration none
  &:before
    content: attr(data-icon)
.tabs
  margin-left: $pad
  li
    position: relative
  .tab, .menu
    padding: 10px
    text-decoration none
  .active
    background-color: #fff
    a
      color: $complementary-color
  .icons-closetab
    float: right
  li:hover a.icons-closetab
    visibility: visible

@media (max-width: 599px)
  .tabs
    li
      max-height: 250px
      overflow: hidden
      transition: all .5s  
      white-space: nowrap
    .is-tab-closed
      max-height: 0

    .tab, .menu
      display: block
      background-color: #fff
      border-bottom: 1px solid $color
      width: 100%
    .menu
      background-color: $bg-color

@media (min-width: 600px)
  .icons-closetab
    visibility: hidden
  .tabs
    overflow: hidden
    li
      white-space: nowrap
      border-radius: 30px
      border: 1px solid #ccc
      float: left
      margin-right: $pad
      max-width: 250px
      transition: all .5s  
      overflow: hidden
      text-overflow: ellipsis
      .tab
        display: block
        margin-right: $pad
    .is-tab-closed
      max-width: 0

  .menu
    display: none;


