.icons-closetab
  font-family: "Pictos Custom", sans-serif
  font-size: 30px
  padding-top: 6px
  color: #000
  visibility: hidden
  text-decoration none
  &:before
    content: attr(data-icon)
.tabs
  .tab, .menu
    padding: 10px
    text-decoration none
  .active
    color: $complementary-color
  .icons-closetab
    float: right
  li:hover a.icons-closetab
    visibility: visible


@media all and (max-width: 599px)
  .tabs
    .tab, .menu
      display: block
      width: 100%
      background-color: #fff
      border-bottom: 1px solid $color
    .menu
      background-color: $bg-color


@media all and (min-width: 600px)
  .tabs
    overflow: hidden
    li
      border-radius: 30px
      border: 1px solid #ccc
      float: left
      margin-right: $pad
      .tab
        float: left
        margin-right: $pad

  .menu
    display: none;


