/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 74, icons/*.png */
.icons-sprite, .icons-brush, .icons-closetab, .icons-line, .icons-new, .icons-rect {
  background: url('/img/icons-s267c1135d0.png') no-repeat;
}

/* line 60, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-brush {
  background-position: 0 -64px;
}

/* line 60, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-closetab {
  background-position: 0 -48px;
}

/* line 60, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-line {
  background-position: 0 -88px;
}

/* line 60, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-new {
  background-position: 0 0;
}

/* line 60, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rect {
  background-position: 0 -24px;
}

/* line 61, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 106.25%;
}

/* line 64, ../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 17px;
  line-height: 1.76471em;
}

/* line 33, ../../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../../sass/screen.scss */
html {
  font-family: Lucida Console, Comic Sans MS, Arial, sans-serif;
}

/* line 41, ../../sass/screen.scss */
header {
  clear: both;
  position: relative;
}
/* line 45, ../../sass/screen.scss */
header h1 {
  font-family: 'Flavors', cursive;
  font-size: 2em;
  line-height: 0.88235em;
  padding: 10px;
  color: #666666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #eeeeee, #ffffff);
  background-image: linear-gradient(#ffffff, #eeeeee, #ffffff);
}
/* line 52, ../../sass/screen.scss */
header .search {
  position: absolute;
  left: 256px;
  top: 10px;
}
/* line 56, ../../sass/screen.scss */
header .search label {
  display: none;
}
/* line 59, ../../sass/screen.scss */
header .search input {
  width: 400px;
}

/* line 64, ../../sass/screen.scss */
#usersresult {
  position: absolute;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  -moz-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  width: 400px;
  z-index: 999;
  background-color: white;
}
/* line 70, ../../sass/screen.scss */
#usersresult li {
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

/* line 78, ../../sass/screen.scss */
#friends li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 311.33333px;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  -moz-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}
/* line 84, ../../sass/screen.scss */
#friends li:hover {
  -webkit-box-shadow: 0 0 15px #ff6666;
  -moz-box-shadow: 0 0 15px #ff6666;
  box-shadow: 0 0 15px #ff6666;
}
/* line 88, ../../sass/screen.scss */
#friends .user-pic {
  height: 120px;
}

/* line 93, ../../sass/screen.scss */
.add,
.confirm {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 99, ../../sass/screen.scss */
#user {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 104, ../../sass/screen.scss */
.wrapper {
  margin: 0 auto !important;
  width: 1024px;
}

/* line 108, ../../sass/screen.scss */
.user-pic {
  float: left;
  overflow: hidden;
  margin: 2px;
  height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 114, ../../sass/screen.scss */
.user-pic img {
  height: 100%;
}

/* line 118, ../../sass/screen.scss */
.user-info {
  float: left;
  padding: 2px 10px;
  max-width: 184px;
}

/* line 123, ../../sass/screen.scss */
.content {
  position: relative;
}

/* line 127, ../../sass/screen.scss */
.tabs {
  overflow: hidden;
}
/* line 129, ../../sass/screen.scss */
.tabs > li {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #d4d4d4;
  float: left;
  padding: 0;
  margin-right: 10px;
}
/* line 135, ../../sass/screen.scss */
.tabs > li a {
  padding: 5px;
}
/* line 138, ../../sass/screen.scss */
.tabs > li:hover a.icons-closetab {
  visibility: visible;
}
/* line 142, ../../sass/screen.scss */
.tabs a.active {
  color: #ff6666;
}

/* line 146, ../../sass/screen.scss */
.canvas-content {
  background-color: #fff;
  z-index: 888;
}
/* line 149, ../../sass/screen.scss */
.canvas-content .main {
  float: left;
  width: 970px;
}
/* line 153, ../../sass/screen.scss */
.canvas-content .users {
  float: right;
}
/* line 155, ../../sass/screen.scss */
.canvas-content .users li {
  position: relative;
}
/* line 158, ../../sass/screen.scss */
.canvas-content .users .title {
  display: none;
}
/* line 161, ../../sass/screen.scss */
.canvas-content .users img {
  width: 50px;
}
/* line 165, ../../sass/screen.scss */
.canvas-content .msginput {
  height: 30px;
  width: 100%;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  -moz-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

/* line 173, ../../sass/screen.scss */
[class*="icons-"],
.colorsel {
  height: 24px;
  width: 24px;
  display: inline-block;
}

/* line 177, ../../sass/screen.scss */
a.icons-closetab {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  visibility: hidden;
}

/* line 185, ../../sass/screen.scss */
.toolbar button,
.toolbar .button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: inline-block;
}
/* line 192, ../../sass/screen.scss */
.toolbar .button {
  position: relative;
  z-index: 9999;
}
/* line 196, ../../sass/screen.scss */
.toolbar .button:hover .color-canvas {
  visibility: visible;
}
/* line 201, ../../sass/screen.scss */
.toolbar .on {
  border: 1px solid #d4d4d4;
  background-color: #eeeeee;
}

/* line 207, ../../sass/screen.scss */
.main {
  position: relative;
}

/* line 210, ../../sass/screen.scss */
.canvas {
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  -moz-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

/* line 213, ../../sass/screen.scss */
.color-canvas {
  position: absolute;
  top: 24px;
  left: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  -moz-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

/* line 221, ../../sass/screen.scss */
.temp-canvas,
.socket-canvas {
  position: absolute;
  top: 1px;
  left: 1px;
}

/* line 226, ../../sass/screen.scss */
.temp-canvas {
  z-index: 2;
}

/* line 229, ../../sass/screen.scss */
.socket-canvas {
  z-index: 1;
}

/* line 232, ../../sass/screen.scss */
.line-width {
  display: inline-block;
  width: 200px;
  margin: 0 12px;
}

/* line 238, ../../sass/screen.scss */
.chat-bubble {
  position: absolute;
  top: 0;
  left: -310px;
  background-color: #EDEDED;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
  -moz-box-shadow: 0 0 5px #bbbbbb;
  box-shadow: 0 0 5px #bbbbbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #666666;
}
/* line 249, ../../sass/screen.scss */
.chat-bubble .arrow-border {
  border-color: transparent transparent transparent #666666;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 10px;
  right: -22px;
}
/* line 259, ../../sass/screen.scss */
.chat-bubble .arrow {
  border-color: transparent transparent transparent #EDEDED;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 10px;
  right: -19px;
}
