<div class="canvas-content" id="{{id}}">
    <div class="main">
        <canvas class="canvas"></canvas>
        <div class="chat">
            <ul class="users">
                {{#users}}
                    <li>
                        <div class="user-pic">
                            <img src="{{picture}}" title="{{name}}"></img>
                        </div>
                        <div data-id="{{_id}}" class="chat-bubble">
                            <div class="text"></div>
                            <div class="arrow-border"></div>
                            <div class="arrow"></div>
                        </div>
                    </li>
                {{/users}}
            </ul>
            <input type="text" class="msginput" placeholder="new message..."/>
        </div>
    </div>
   
 </div>